<input
  class="search form-control"
  id="searchQuery"
  [(ngModel)]="searchQuery"
  placeholder="Search for An Artist"
/>
<div class="container">    
  You are successfully logged in with Spotify
  <button (click)="logout()" class="btn btn-success text-white">Logout</button>    
</div>
<!-- <button (click)="searchImages(searchQuery)" type="button">Search</button> -->
<br />

<div *ngIf="searching" class="card"><p>Fetching...

</div>
<div class="card-group">
  
  <div *ngFor="let image of images" class=" col-md-4 col-lg-3 col-sm-6 col-xs-12">
    <img
      class="card-img-top img-fluid"
      [src]="image.images[0]?.url  "
      onerror="this.onerror=null;this.src='https://media.wired.com/photos/5927001eaf95806129f51539/master/w_2560%2Cc_limit/spotify-logo-zoom-s.jpg';"
      alt="Card image cap  "
    />
    <div class="card-body">
      <h5 class="card-title">
        <b (click)='onClick($event)' id={{image.id}}>{{ image.name }}</b>
      </h5>
      <p></p>
      <app-rating [rating]="(image.popularity)/100 *5" ></app-rating>

      <b class="card-text">{{ image.followers.total | number }}</b>
    </div>
  </div>
</div>

