<div class="  container-fluid content-row card-group">
  <div *ngFor="let image of images" class=" divc col-md-4 col-lg-3 col-sm-6 col-xs-12  h-100">

    <div class="">
    <img
      class="card-img-top img-fluid"
      [src]="image.images[0]?.url"
      alt=" Card image cap  "
    />
   
    <div class="card-body">
      <h5 class="card-title">
        <b  id={{image.id}}>{{ image.name }}</b>
      </h5>
      <p></p>
      <div class=" card-text">
        <div class="cardt"><b  *ngFor="let artist of image.artists">{{artist.name}}  <p></b></div>
      </div>
      <p></p>
      {{image.release_date}}
      <p>{{image.total_tracks}} tracks</p>
    </div>

      <button class="btn card-footer "> <a href={{image.external_urls.spotify}} target="_blank">Preview</a></button>
      <p></p>
    </div>
  </div>
</div>